<input type="hidden" id="user_id" value="{{user._id}}">

<div class="content">

    <div class="container">

        <div class="row">

            <div class="col-md-3 col-sm-5">

                <div class="profile-avatar">
                    <img src="{{gravatar_url}}" class="profile-avatar-img img-responsive thumbnail" alt="Profile Image">
                </div>
                <!-- /.profile-avatar -->

                <div class="list-group">

                    <a href="http://gravatar.com" class="list-group-item">
                        <i class="fa fa-camera text-primary"></i> &nbsp;&nbsp;Change my picture

                        <i class="fa fa-chevron-right list-group-chevron"></i>
                    </a>

                </div>
                <!-- /.list-group -->

            </div>
            <!-- /.col -->


            <div class="col-md-6 col-sm-7">

                <br class="visible-xs">

                <h3>What's your question ?</h3>

                <div class="share-widget clearfix">

                    <textarea class="form-control share-widget-textarea" rows="3" id="question_title"
                              placeholder="Do you think that we ever went to the moon ?" tabindex="1"></textarea>

                    <div class="share-widget-actions">

                        <div id="img-upload-container" class="share-widget-types pull-left">
                            <a href="#" id="questionImageDropzone" class="fa fa-picture-o ui-tooltip"
                               title="Post an Image"><i></i></a>
                        </div>

                        <div class="pull-right">
                            <a class="btn btn-primary btn-sm" tabindex="2" id="question_submit">Post</a>
                        </div>

                    </div>
                    <!-- /.share-widget-actions -->

                </div>
                <!-- /.share-widget -->

                <br><br>

                <div id="timeline-container">

                    {{#each timelineItems}}

                        <div class="feed-item feed-item-question">

                            <div class="feed-icon bg-secondary">
                                <i class="fa fa-question"></i>
                            </div>
                            <!-- /.feed-icon -->

                            <div class="feed-subject">
                                <p><a href="/u/{{this.user.username}}">{{{this.user.username}}}</a> posted <a
                                        href="{{this.url}}">a new question.</a></p>
                            </div>
                            <!-- /.feed-subject -->

                            <div class="feed-content">
                                <ul class="icons-list">
                                    <li>
                                        <i class="icon-li fa fa-quote-left"></i>
                                        {{this.content}}
                                    </li>
                                </ul>

                                {{#if this.image}}
                                    <div class="thumbnail" style="width: 375px">
                                        <a href="{{this.image}}" class="ui-lightbox">
                                            <img src="{{this.image}}" style="width: 100%;" alt="Gallery Image">
                                        </a>
                                    </div> <!-- /.thumbnail -->
                                {{/if}}
                            </div>
                            <!-- /.feed-content -->

                            <div class="feed-actions">
                                <a href="#" class="pull-left"><i
                                        class="fa fa-smile-o"></i> {{this.question.vote_yes_count}}</a>
                                <a href="#" class="pull-left"><i
                                        class="fa fa-frown-o"></i> {{this.question.vote_no_count}}</a>

                                <a href="#" class="pull-right"><i class="fa fa-clock-o"></i> {{dateAgo this.created_at}}
                                </a>
                            </div>
                            <!-- /.feed-actions -->

                        </div>
                        <!-- /.feed-item -->

                    {{/each}}

                </div>

                <div id="timeline-loader-container">
                    <img src="/img/loader.gif" class="loader" id="timeline-loader">
                </div>

                <br class="visible-xs">
                <br class="visible-xs">

            </div>
            <!-- /.col -->


            <div class="col-md-3">

                <div class="heading-block">
                    <h5>
                        Your Stats
                    </h5>
                </div>
                <!-- /.heading-block -->

                <div class="list-group">

                    <a href="#" class="list-group-item">
                        <h3 class="pull-right"><i class="fa fa-retweet text-primary"></i></h3>
                        <h4 class="list-group-item-heading">{{user.reshare_count}}</h4>

                        <p class="list-group-item-text">Total Reshares</p>
                    </a>

                    <a href="#" class="list-group-item">
                        <h3 class="pull-right"><i class="fa fa-smile-o  text-primary"></i></h3>
                        <h4 class="list-group-item-heading">{{user.vote_yes_count}}</h4>

                        <p class="list-group-item-text">Total Yes Votes</p>
                    </a>

                    <a href="#" class="list-group-item">
                        <h3 class="pull-right"><i class="fa fa-frown-o  text-primary"></i></h3>
                        <h4 class="list-group-item-heading">{{user.vote_no_count}}</h4>

                        <p class="list-group-item-text">Total No Votes</p>
                    </a>
                </div>
                <!-- /.list-group -->

                <br>

                <div class="heading-block">
                    <h5>
                        Popular
                    </h5>
                </div>
                <!-- /.heading-block -->

                <div class="well">

                    <ul class="icons-list text-md">

                        <li>
                            <i class="icon-li fa fa-location-arrow"></i>

                            <strong>Rod</strong> uploaded 6 files.
                            <br>
                            <small>about 4 hours ago</small>
                        </li>

                        <li>
                            <i class="icon-li fa fa-location-arrow"></i>

                            <strong>Rod</strong> followed the research interest: <a href="#">Open Access Books in
                            Linguistics</a>.
                            <br>
                            <small>about 23 hours ago</small>
                        </li>

                        <li>
                            <i class="icon-li fa fa-location-arrow"></i>

                            <strong>Rod</strong> added 51 papers.
                            <br>
                            <small>2 days ago</small>
                        </li>
                    </ul>

                </div>
                <!-- /.well -->

            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->

        <br><br>

    </div>
    <!-- /.container -->

</div> <!-- .content -->