<input type="hidden" id="user_id" value="{{other_user._id}}">

<div class="content">

    <div class="container">

        <div class="row">

            <div class="col-md-3 col-sm-5">

                <div class="profile-avatar">
                    <img src="{{other_user_gravatar_url}}" target="_blank" class="profile-avatar-img img-responsive thumbnail" alt="Profile Image">
                </div>
                <!-- /.profile-avatar -->

            </div>
            <!-- /.col -->


            <div class="col-md-6 col-sm-7">

                <br class="visible-xs">

                <h3>{{other_user.username}}</h3>

                <h5 class="text-muted">Signed up on bombster.io {{dateAgo other_user.created_at}}</h5>

                <hr>

                <div id="timeline-container">

                    {{#each timelineItems}}

                        <div class="feed-item feed-item-question">

                            <div class="feed-icon bg-secondary">
                                <i class="fa fa-question"></i>
                            </div>
                            <!-- /.feed-icon -->

                            <div class="feed-subject">
                                <p><a href="/u/{{this.user.username}}">{{{this.user.username}}}</a> posted <a
                                        href="{{this.url}}">a new question.</a></p>
                            </div>
                            <!-- /.feed-subject -->

                            <div class="feed-content">
                                <ul class="icons-list">
                                    <li>
                                        <i class="icon-li fa fa-quote-left"></i>
                                        {{this.content}}
                                    </li>
                                </ul>

                                {{#if this.image}}
                                    <div class="thumbnail" style="width: 375px">
                                        <a href="{{this.image}}" class="ui-lightbox">
                                            <img src="{{this.image}}" style="width: 100%;" alt="Gallery Image">
                                        </a>
                                    </div> <!-- /.thumbnail -->
                                {{/if}}
                            </div>
                            <!-- /.feed-content -->

                            <div class="feed-actions">
                                <a href="#" class="pull-left"><i
                                        class="fa fa-smile-o"></i> {{this.question.vote_yes_count}}</a>
                                <a href="#" class="pull-left"><i
                                        class="fa fa-frown-o"></i> {{this.question.vote_no_count}}</a>

                                <a href="#" class="pull-right"><i class="fa fa-clock-o"></i> {{dateAgo this.created_at}}
                                </a>
                            </div>
                            <!-- /.feed-actions -->

                        </div>
                        <!-- /.feed-item -->

                    {{/each}}

                </div>

                <div id="timeline-loader-container">
                    <img src="/img/loader.gif" class="loader" id="timeline-loader">
                </div>

                <br class="visible-xs">
                <br class="visible-xs">

            </div>
            <!-- /.col -->


            <div class="col-md-3">

                <div class="heading-block">
                    <h5>
                        {{other_user.username}}'s stats
                    </h5>
                </div>
                <!-- /.heading-block -->

                <div class="list-group">

                    <a href="#" class="list-group-item">
                        <h3 class="pull-right"><i class="fa fa-question-circle  text-primary"></i></h3>
                        <h4 class="list-group-item-heading">{{questions_count}}</h4>

                        <p class="list-group-item-text">Questions</p>
                    </a>

                    <a href="#" class="list-group-item">
                        <h3 class="pull-right"><i class="fa fa-smile-o  text-primary"></i></h3>
                        <h4 class="list-group-item-heading">{{other_user.vote_yes_count}}</h4>

                        <p class="list-group-item-text">Yes Votes</p>
                    </a>

                    <a href="#" class="list-group-item">
                        <h3 class="pull-right"><i class="fa fa-frown-o  text-primary"></i></h3>
                        <h4 class="list-group-item-heading">{{other_user.vote_no_count}}</h4>

                        <p class="list-group-item-text">No Votes</p>
                    </a>

                </div>
                <!-- /.list-group -->

                <br>

                <div class="heading-block">
                    <h5>
                        Popular
                    </h5>
                </div>
                <!-- /.heading-block -->

                <div class="well">

                    <ul class="icons-list text-md">
                        {{#each trending_questions}}
                            <li>
                                <i class="icon-li fa fa-comments-o text-primary"></i>
                                <strong class="semibold"><a href="/q/{{this.question_identifier}}">{{{this.question_title}}}</a></strong>
                                <br>
                                <p><a href="/u/{{this.user.username}}"><img src="{{gravatar_url_small this.user.email}}"> {{{this.user.username}}}</a> {{dateAgo this.created_at}}
                                    .<br>{{this.vote_yes_count}} said <strong>yes</strong>, {{this.vote_no_count}}
                                    said <strong>no</strong>.</p>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <!-- /.well -->

            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->

        <br><br>

    </div>
    <!-- /.container -->

</div> <!-- .content -->